*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}
