*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}
