@mixin font-face($font-family, $font-src, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: $font-src;
    font-weight: $font-weight;
    font-style: $font-style;
    display: swap;
  }
}

@mixin title($color) {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin title-uppercase($color) {
  @include title($color);
  text-transform: uppercase;
}

@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button($color, $bg-color) {
  padding: 10px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $color;
  text-transform: uppercase;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
  }

  &:hover {
    background-color: $bg-green2;
  }

  &:active {
    color: rgba($white-color-text, $alpha: 0.3);
  }
}

@mixin center {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desctop-width) {
    margin: 0 auto;
    width: 1440px;
    padding: 0 110px;
  }
}
