.additional-products {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $desctop-width) {
    padding-bottom: 87px;
  }
}

.additional-products__title {
  @include title($black-color-text);
  position: relative;
  width: fit-content;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  background-color: $white-color-text;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(50% - 2px);
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $bg-green;
    box-shadow: 100vw 0 0 $bg-green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    padding: 30px 40px 40px 70px;
    width: 450px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 36px;
    padding: 40px;
    padding-left: 100px;
    width: 480px;
  }
}

.additional-products__wrapper {
  @include center;
  padding-top: 33px;

  @media (min-width: $desctop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  @include list();
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desctop-width) {
    margin: 0;
  }
}
