.card__item {
  padding: 20px;
  padding-bottom: 21px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  border-bottom: 1px solid $border-grey2;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px 37px;
    width: 324px;
    grid-template-columns: auto;
    justify-items: center;
    background-image: linear-gradient($white-color-text 10%, $bg-grey 10%, $bg-grey 100%);
    border-bottom: none;
  }

  @media (min-width: $desctop-width) {
    padding: 10px 38px 40px 38px;
    width: 245px;
  }
}

.card__link-desc {
  text-decoration: none;
}

.card__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 12px;
    width: 169px;
  }
}

.card__title {
  @include title-uppercase($black-color-text2);
  margin-bottom: 14px;
  width: 80px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 140px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 23px;
  }
}

.card__desc {
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desctop-width) {
    width: 169px;
  }
}

.card__desc tbody {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
}

.card__desc tr {
  width: 140px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid $border-form-hover;
  }
}

.card__desc td {
  padding: 0;
}

.card__link-form {
  @include button($white-color-text, $bg-green);
  grid-column: 1 / -1;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desctop-width) {
    width: 100%;
  }
}
