.catalog__title {
  @include title($black-color-text);
  padding-top: 27px;
  padding-bottom: 41px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 36px;
  border-top: 1px solid $border-grey2;
  border-bottom: 1px solid $border-grey2;

  @media (min-width: $tablet-width) {
    @include center;
    padding-left: 0;
    padding-top: 45px;
    padding-bottom: 84px;
    border: none;
  }

  @media (min-width: $desctop-width) {
    padding-top: 52px;
    padding-bottom: 89px;
  }
}
