.checkbox {
  padding-top: 10px;
  padding-bottom: 34px;
  display: grid;
  gap: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 52px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 52px;
    row-gap: 32px;
  }

  @media (min-width: $desctop-width) {
    padding-bottom: 60px;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.checkbox__text {
  @include title-uppercase($base-color-text);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    gap: 20px;
  }

  &::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid $border-grey3;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid $border-form-focus;
    background-size: 18px 14px;

    @media (min-width: $tablet-width) {
      background-size: 26px 26px;
    }
  }
}

.checkbox__input:checked + .checkbox__text {
  &::before {
    background: url("../../images/icons/stack.svg#checkbox") no-repeat 50%;
    background-size: 18px 14px;

    @media (min-width: $tablet-width) {
      background-size: 26px 26px;
    }
  }
}

.checkbox__input:disabled + .checkbox__text {
  &::before {
    background: url("../../images/icons/stack.svg#checkbox") no-repeat 50%;
    background-size: 18px 14px;

    @media (min-width: $tablet-width) {
      background-size: 26px 26px;
    }
  }
  opacity: 0.3;
}
