
.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desctop-width) {
    position: relative;
    height: 400px;
  }

  &--fond {
    background-color: $bg-grey;
  }
}

.contacts__wrapper {
  @media (min-width: $desctop-width) {
    @include center;
    position: relative;
  }
}

.contacts__text {
  width: 100%;
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    min-width: 628px;
    padding: 61px 0;
  }

  @media (min-width: $desctop-width) {
    position: absolute;
    margin: 0;
    top: 95px;
    left: 110px;
    width: 565px;
    height: 199px;
    padding: 60px 78px 60px 80px;
    background-color: $white-color-text;
    z-index: 1;
  }
}


.contacts__slogan {
  @include title-uppercase($black-color-text1);
  font-size: 16px;
  line-height: 20px;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  width: 140px;
  line-height: 20px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    align-items: end;
    width: 157px;
    font-size: 16px;
  }

  @media (min-width: $desctop-width) {
    text-align: start;
    align-items: start;
  }
}

.contacts__map {
  display: grid;
  grid-template-columns: 1fr;
  background-image:
    image-set(
    url("../../images/map/map-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/map/map-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/map/map-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../images/map/map-mobile@2x.jpg") type("image/jpeg") 2x
  );
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $bg-grey;
  border: none;


  @media (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
      url("../../images/map/map-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/map/map-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/map/map-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../images/map/map-tablet@2x.jpg") type("image/jpeg") 2x
      );
  }

  @media (min-width: $desctop-width) {
    position: relative;
    background-image:
      image-set(
      url("../../images/map/map-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/map/map-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/map/map-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../images/map/map-desktop@2x.jpg") type("image/jpeg") 2x
      );
  }
}

.contacts__map iframe {
  width: 100vw;
  height: 362px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
