.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $bg-grey2;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
    border-top: 1px solid $border-grey;
    background-image: linear-gradient($white-color-text 619px, $bg-grey2 619px, $bg-grey2 100%);
  }

  @media (min-width: $desctop-width) {
    padding-top: 21px;
    padding-bottom: 56px;
    background-image: linear-gradient($white-color-text 25%, $bg-grey2 25%, $bg-grey2 100%);
    border: none;
  }
}

.example__wrapper {
  @include center;
  display: grid;
  justify-items: start;

  @media (min-width: $tablet-width) {
    grid-template-columns: 367px 1fr;
  }

  @media (min-width: $desctop-width) {
    grid-template-columns: 1fr 560px;
    column-gap: 228px;
    grid-template-rows: repeat(4, auto);
    justify-items: start;
  }
}

.example__title {
  @include title($black-color-text);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    grid-column: 1 / 3;
  }

  @media (min-width: $desctop-width) {
    grid-column: 1 / 2;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    grid-column: 1 / 3;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 69px;
    grid-column: 1 / 2;
  }
}

.example__pattern {
  margin-bottom: 34px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    margin-bottom: 106px;
    grid-template-columns: 162px 162px;
    column-gap: 43px;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 52px;
  }
}

.example__element {
  position: relative;
  margin: 0;
  width: 124px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-form-hover;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 70px;
  }
}


.example__term {
  position: absolute;
  bottom: 0;
  padding: 0 15px;
  width: 80px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  transform: translateY(15px);
  background-color: $bg-grey2;

  @media (min-width: $tablet-width) {
    padding: 0 8px;
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: $white-color-text;
    transform: translateY(8px);
  }

  @media (min-width: $desctop-width) {
    background-color: $bg-grey2;
  }
}

.example__definition {
  @include title($base-color-text);
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__price {
  @include title-uppercase($black-color-text);
  font-size: 14px;
  line-height: 20px;
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    justify-self: end;
    text-align: end;
    align-self: start;
    flex-direction: column;
    gap: 9px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desctop-width) {
    justify-self: start;
    flex-direction: row;
    gap: 63px;
  }
}

.example__slider {
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    justify-self: center;
  }
}
