.features {
  @include center;
}

.features__title {
  @include title($black-color-text);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.features__list {
  @include list;
  padding-bottom: 47px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 56px;
    counter-reset: features 0;
  }

  @media (min-width: $desctop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 95px;
  }
}

.features__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 248px;
    grid-template-columns: 80px 134px;
    grid-template-rows: 120px auto;
    column-gap: 38px;
    row-gap: 31;
    counter-increment: features 1;

    &::after {
      content: counter(features) "";
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      justify-self: center;
      font-family: $secondary-font;
      font-size: 280px;
      line-height: 280px;
      color: $bg-grey;
      z-index: -1;
    }
  }
}

.features__item:nth-of-type(1) {
  @media (min-width: $tablet-width) {
    width: 230px;

    &::after {
      padding-right: 20px;
    }
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: $bg-green;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    align-self: end;
  }
}

.features__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    width: 224px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: start;
  }
}
