.footer {
  background-color: $bg-grey;
}

.footer__logo {
  color: $black-color-text1;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $logo-focus;
  }

  &:active {
    color: $logo-active;
  }
}

.footer__developed {
  display: flex;
  width: 280px;
  height: 34px;
  justify-content: space-between;
  align-items: center;
  color: $base-color-text;
  transition: 0.2s;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: relative;
    display: flex;
    width: 27px;
    height: 34px;
    mask-image: url("../../images/icons/stack.svg#logo-html");
    background-color: $base-color-text;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $bg-green;
  }
}
