.footer {
  background-color: $bg-grey;
  padding: 40px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 169px;
  }
}

.footer__wrapper {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  color: $black-color-text1;
  padding-bottom: 20px;
  width: 128px;
  border-bottom: 1px solid $border-form2;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    justify-content: flex-start;
  }

  &:hover,
  &:focus {
    color: $logo-focus;
  }

  &:active {
    color: $logo-active;
  }
}

.footer__social.social {
  padding-bottom: 15px;
  min-width: 132px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-form2;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    padding: 0;
    padding-top: 5px;
    border: none;
    justify-content: flex-start;
  }
}

.footer__developed {
  padding-left: 5px;
  width: 280px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: 16px;
  line-height: 20px;
  color: $base-color-text;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    width: 168px;
    gap: 22px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: relative;
    display: flex;
    width: 27px;
    height: 34px;
    mask-image: url("../../images/icons/stack.svg#logo-html");
    background-color: $base-color-text;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $bg-green;
  }
}
