.form__program {
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
  }

  @media (min-width: $desctop-width) {
    padding-bottom: 41px;
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}

.form__program .form__fieldset {
  border-bottom: 1px solid $border-form2;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    border: none;
  }
}

.form__fieldset {
  &--master {
    padding-top: 2px;
    padding-bottom: 2px;

    @media (min-width: $desctop-width) {
      padding-top: 44px;
      padding-bottom: 42px;
    }
  }
}

.form__legend {
  @include title($black-color-text);
  position: relative;
  padding: 20px;
  width: fit-content;
  font-size: 24px;
  line-height: 26px;
  background-color: $white-color-text;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% + 2px);
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $bg-green;
    box-shadow: 100vw 0 0 $bg-green;
    z-index: -1;
  }

  &--none {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 35px 0 37px;
    font-size: 36px;
    line-height: 36px;
    box-shadow: -40px 0 0 $white-color-text, 40px 0 0 $white-color-text;

    &--none {
      padding: 0;
    }
  }
}

.form__legend--master {
  padding-top: 25px;
  width: 227px;

  &::before {
    top: calc(50% - 9px);
  }

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    width: fit-content;

    &::before {
      top: calc(50% + 9px);
    }
  }

  @media (min-width: $desctop-width) {
    padding-top: 20px;
    padding-bottom: 22px;

    &::before {
      top: calc(50% + 2px);
    }
  }
}

.form__control {
  @include center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
  }
}

.form__inner {
  @include center;
  display: grid;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 60px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
    gap: 65px;
  }

  @media (min-width: $desctop-width) {
    padding-top: 57px;
    padding-left: 0;
    margin-bottom: 79px;
    gap: 87px;
  }
}

.form__button {
  @include button($white-color-text, $bg-green);
  margin-bottom: 21px;
  width: 100%;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px;
    width: 284px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desctop-width) {
    width: 570px;
  }
}

.form__reguired {
  line-height: 16px;
  color: $black-color-text;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    justify-self: start;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 0;
  }
}
