.header__wrapper {
  @include center;
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;
  height: 65px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desctop-width) {
    padding-top: 55px;
  }
}

.header__logo {
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
