.header {
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  background-color: $white-color-text;

  @media (min-width: $tablet-width) {
    @include center;
    min-height: 73px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desctop-width) {
    padding-top: 55px;
    min-height: 114px;
    background-color: transparent;
  }
}

.header__logo {
  margin: 13px 0 14px 20px;
  width: 190px;
  height: 38px;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 30px;
    padding-top: 25px;
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desctop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__nav-page {
  background-color: $white-color-text;

  @media (min-width: $desctop-width) {
    background-color: transparent;
  }
}
