.input {
  @include center;
  margin: 0 20px;
  padding-top: 38px;
  padding-bottom: 21px;
  display: grid;
  gap: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 61px;
    gap: 20px;
  }

  @media (min-width: $desctop-width) {
    padding: 0;
    gap: 20px;
  }

  &--master {
    padding-top: 12px;
    padding-bottom: 3px;

    @media (min-width: $tablet-width) {
      padding-top: 39px;
      padding-bottom: 31px;
    }

    @media (min-width: $desctop-width) {
      padding-top: 54px;
      padding-bottom: 35px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
    }
  }
}

.input__wrapper {
  display: flex;
  gap: 13px;
}

.input__label {
  @include title-uppercase($base-color-text);
  padding: 13px 0;
  padding-top: 16px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    font-size: 20px;
    line-height: normal;
  }
}

.input__field {
  @include title-uppercase($base-color-text);
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  padding: 15px 12px 13px 14px;
  border: 1px solid $border-form;
  outline: none;

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: $border-form-hover;
  }

  &:focus {
    box-shadow: inset 2px 2px 0 $base-color-text, inset -2px -2px 0 $base-color-text;
  }

  &:focus:invalid {
    box-shadow: inset 2px 2px 0 $border-form-error, inset -2px -2px 0 $border-form-error;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    height: 52px;
    font-size: 20px;
    line-height: normal;
  }
}

.input__wrap {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.input__icon {
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: $black-color-text;
}

.input__wrap--email .input__icon {
  mask-image: url("../../images/icons/stack.svg#email");
}

.input__wrap--phone .input__icon {
  mask-image: url("../../images/icons/stack.svg#phone");
}

.input__field:focus + .input__icon {
  background-color: $bg-green;
}

.input__field:focus:invalid + .input__icon {
  background-color: $border-form-error;
}
