.nav-page__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav-page__list {
  @include list;
  text-align: center;
}

.nav-page__link {
  @include title-uppercase($black-color-text);
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desctop-width) {
    font-size: 20px;
    line-height: normal;
  }
}
