.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
}

.page__wrapper {
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    right: 0;
    background-color: $bg-hero;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/background/bg-hero-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../images/background/bg-hero-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
    background-position: 50%;
    min-height: 302px;
    width: 100%;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      background: none;
    }
  }

  @media (min-width: $desctop-width) {
    &::after {
      top: 0;
      right: 0;
      background-color: $bg-hero;
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set(
          url("../../images/background/bg-hero-desktop@1x.jpg") type("image/jpeg") 1x,
          url("../../images/background/bg-hero-desktop@2x.jpg") type("image/jpeg") 2x
        );
      background-repeat: no-repeat;
      background-position: 0;
      height: 694px;
      width: 50%;
    }
  }
}

.page__main {
  flex-grow: 1;
}
