.programm {
  display: grid;
}

.programm__list {
  @include list;
}

.programm__item {
  background-color: $bg-grey;
}

.programm__subtitle {
  @include title-uppercase($black-color-text);
  font-size: 24px;
  line-height: 37px;
}

.programm__icon {
  position: relative;
  width: 50px;
  height: 50px;
  background: $bg-green;
  border-radius: 50%;
}

.programm__icon img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.programm__icon--pro img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(1.2);
}

.programm__link {
  @include title-uppercase($black-color-text);
  position: relative;
  padding: 4px 0;
  padding-right: 47px;
  font-size: 16px;
  line-height: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    right: 0;
    top: 50%;
    mask-image: url("../../images/icons/stack.svg#arrow");
    background-color: $black-color-text;
    transform: translate(-10%, -50%) scale(0.7, 1);
    transition: 0.2s;
  }

  &:hover::before,
  &:focus::before {
    transform: translateY(-50%) scale(1, 1);
  }

  &:active {
    opacity: 0.3;

    &::before {
      transform: translateY(-50%) scale(1, 1);
    }
  }
}
