.radio {
  padding-top: 22px;
  padding-bottom: 17px;
  display: grid;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 27px;
    padding-left: 26px;
    border: 1px solid $border-form;
    gap: 13px;
  }

  @media (min-width: $desctop-width) {
    padding: 25px 28px;
  }
}

.radio__label {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.radio__input {
  margin: 0;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid $border-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border: 1px solid $border-form-focus;
    background-size: 15px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      background-size: 20px;
    }
  }

  &:checked {
    background: url("../../images/icons/stack.svg#radio") no-repeat 50%;
    background-size: 13px;

    @media (min-width: $tablet-width) {
      background-size: 20px;
    }
  }
}

.radio__text {
  @include title-uppercase($base-color-text);
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  &:hover {
    cursor: pointer;
  }
}

.radio__input:disabled + .radio__text {
  opacity: 0.3;
}
