.slider {
  position: relative;
  display: grid;
  grid-template-columns: 140px 1fr;
  width: 280px;
  height: 256px;


  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desctop-width) {
    width: 560px;
    height: 512px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    justify-self: end;
  }
}

.slider__left img,
.slider__right img {
  min-width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    min-width: 560px;
    height: 512px;
  }
}

.slider__left {
  width: 140px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.slider__right {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: end;
  width: 140px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
  }
}

.slider__control {
  left: 50%;
  position: absolute;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4px;
  height: 256px;
  padding: 0;
  color: $slider-color;
  background-color: $slider-color;
  border-radius: 2px;
  border: none;
  transition: 0.2s ease-in-out;

  @media (min-width: $tablet-width) {
    height: 512px;
  }


  &:hover,
  &:focus {
    color: $bg-green;
    background-color: $bg-green;
  }

  &:active {
    color: $bg-green2;
    background-color: $bg-green2;
    opacity: 0.6;
  }
}
