.social {
  @include list;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
}

.social__link {
  color: $slider-color;
  font-size: 16px;
  line-height: 20px;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: $bg-green;
  }

  &:active {
    color: $bg-green;
    opacity: 0.3;
  }
}
