.text-area {
  @include center;
  padding-top: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 2px;
    height: 175px;
  }

  @media (min-width: $desctop-width) {
    padding: 41px 0;
    padding-bottom: 0;
    margin-bottom: 76px;
  }
}

.text-area__field {
  @include title-uppercase($base-color-text);
  padding: 14px;
  width: 100%;
  height: 149px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  border: 1px solid $border-form;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    width: 100%;
    height: 177px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desctop-width) {
    padding: 9px 20px;
  }
}
